html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
  font-family: Helvetica Neue, Helvetica, PingFang SC, Hiragino Sans GB, Microsoft YaHei, SimSun, sans-serif;
  font-weight: 400;
  -webkit-font-smoothing: antialiased;
  -webkit-tap-highlight-color: transparent;
}

/* .leaflet-container {
  cursor: default !important;
} */

.leaflet-bottom {
  bottom: 50%;
  transform: translateY(50%);
}

.leaflet-control-attribution {
  display: none;
}

.el-button {
  &.active {
    color: #3a8ee6;
    border-color: #3a8ee6;
    background-color: #ecf5ff;
    outline: 0;
  }
}
